<div class="body-sec">
    <%#= form_for(@game, url: switch_game_path(@game)) do |form| %>
    <%= form_with url: @path do |form| %>
          <% Bag.find(@game.bag_id).items.each do |item| %>
            <div class="form-check">
                <% if type == 'checkbox' %>
                  <%= form.check_box :item, class: "form-check-input"%>
                <% else %>
                  <%= form.radio_button :item, class: "form-check-input"%>
                <% end %>
                <label class="form-check-label" for="defaultCheck1">
                    <%# TODO: renderer for items %>
                    <%= item.to_s%>
                </label>
            </div>
        <% end %>
        <div class="actions">
        <%= form.submit "Load Cup", class: "btn btn-light" %>
        </div>
    <% end %>
</div>
