<%= content_for :content_title, current_user.name + "'s Cup Throw Game" %>
<% content_for :content do %>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            <%# Game region %>
                <%= content_for?(:game_content) ? yield(:game_content) : yield %>
            </div>
            <div class="col-lg-4">
            <%# Info Region %>
                <h3><%= current_user.name + "'s Points: " + current_user.points.to_s %></h3>
                <p>
                    <div class="caption"><%= content_for?(:game_info) ? yield(:game_info) : yield %></div>
                    <img src="https://media.gettyimages.com/vectors/pair-of-dice-and-a-dice-cup-vector-id1003195934?s=2048x2048" alt="Sammy the Shark">
                </p>

            </div>
        </div>
    </div>
<% end %>
<%= render template: "layouts/application" %>